.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.messageBoard {
  padding-top: 15px;
  width: 25%;
  height: 50rem;
  background-color: rgba(83, 87, 90, 0.089);
  border: 5px solid orangered;
  color: white; 
}
.main {
  background-color: wheat;
  color: black;
  height: 100%;
  min-height: 100%; 
}

.mainDiv {
  margin: auto;
  width: 90%;
  padding: 5px;
}
.sidebar {
  display: flex;
  background-color: #53565A;
  border: 5px solid purple;
  margin: 10px; 
}
.sidebar-route {
  flex: 1;
  padding: '00px';
}
#root{
  background-color: lightblue;
}

.dropdown{
  align-content: center;
  padding-top: 5%;
}
.commentText{
  width:75%;
  border-radius: 15px;
  font-weight: 500;
  font-size: 18px;

}

.messageButton{
  margin-right: 26%;
  margin-bottom: 0%;
}
div.recentPosts{
  width: 100%;
  height: 33%;
  border: 5px solid green;
  margin-top: 15%;
}
#maleFemale{
  background-color: white;
  border-radius: 2%;
  font-weight: 500;
  font-size: 18px;
  width: 25%;
}
#messageTypeDrop{
  background-color: white;
  border-radius: 2%;
  font-weight: 500;
  font-size: 18px;
  width: 33%;
}
#intComp{
  background-color: white;
  border-radius: 2%;
  font-weight: 500;
  font-size: 18px;
  width: 35%;
}

.who{
  width: 47%;
  float: left;
  margin-bottom: 1%;
}

.division{
  width: 47%;
  float: right;
  margin-bottom: 1%;
}
.navLink{
  color: wheat;
}

